name: Test action
on:
  pull_request:
  push:
    branches: [ '**' ]
  release:
    types:
      - created
  workflow_dispatch:

jobs:
  test-action:
    permissions:
      id-token: write
      contents: write
    name: Test SonarSource/gh-action_sbom on alpine:latest
    runs-on: github-ubuntu-latest-s
    steps:
      - name: get secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@320bd31b03e5dacaac6be51bbbb15adf7caccc32 # 3.1.0
        with:
          secrets: |
            development/kv/data/sign passphrase | gpg_passphrase;
            development/kv/data/sign key | gpg_key;
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: ./
      - uses: ./ # SonarSource/gh-action_sbom
        with:
          image: alpine:latest
          filename: test-action-bom.json
          upload-artifact: true
          upload-release-assets: true
        env:
          GPG_PRIVATE_KEY_PASSPHRASE: ${{ fromJSON(steps.secrets.outputs.vault).gpg_passphrase }}
          GPG_PRIVATE_KEY_BASE64: ${{ fromJSON(steps.secrets.outputs.vault).gpg_key }}
      - run: |
          test -f test-action-bom.json.asc
          echo "test-action-bom.json:"
          head test-action-bom.json
      - uses: ./ # SonarSource/gh-action_sbom
        with:
          image: alpine:latest
          filename: test2-action-bom.json
          upload-artifact: false
          upload-release-assets: false
