name: "CycloneDX SBOM reusable workflow"

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
        description: "The Docker image to scan."
        # i.e: "example/image_name:tag"
      filename:
        required: true
        type: string
        description: "The generated SBOM file name"
      upload-artifact:
        required: false
        type: boolean
        description: "Attach the SBOM to the workflow"
        default: true
      upload-release-assets:
        required: false
        type: boolean
        description: "Attach the SBOM to the release"
        default: true
      syft-version:
        required: false
        type: string
        description: "Syft version"
        default: v1.41.2
      registry-username:
        required: false
        type: string
        description: "Registry username"
      registry-password:
        required: false
        type: string
        description: "Registry password"
    secrets:
      GPG_PRIVATE_KEY_PASSPHRASE:
        required: false
        description: "Required when 'upload-artifact' is true"
      GPG_PRIVATE_KEY_BASE64:
        required: false
        description: "Required when 'upload-artifact' is true"


jobs:
  sbom:
    permissions:
      id-token: write
      contents: write
    runs-on: github-ubuntu-latest-s

    steps:
      - uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad # v0.22.2
        with:
          image: ${{ inputs.image }}
          artifact-name: ${{ inputs.filename }}
          output-file: ${{ inputs.filename }}
          format: cyclonedx-json
          syft-version: ${{ inputs.syft-version }}
          upload-artifact: ${{ inputs.upload-artifact }}
          upload-release-assets: ${{ inputs.upload-release-assets }}
          registry-username: ${{ inputs.registry-username }}
          registry-password: ${{ inputs.registry-password }}
        env:
          SYFT_QUIET: true
      - name: get secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@320bd31b03e5dacaac6be51bbbb15adf7caccc32 # 3.1.0
        with:
          secrets: |
            development/kv/data/sign passphrase | gpg_passphrase;
            development/kv/data/sign key | gpg_key;
      - name: Sign CycloneDX SBOM
        if: inputs.upload-artifact
        shell: bash
        env:
          GPG_PRIVATE_KEY_PASSPHRASE: ${{ fromJSON(steps.secrets.outputs.vault).gpg_passphrase }}
          GPG_PRIVATE_KEY_BASE64: ${{ fromJSON(steps.secrets.outputs.vault).gpg_key }}
          SBOM_FILENAME: ${{ inputs.filename }}
        run: |
          if [[ ! -v GPG_PRIVATE_KEY_PASSPHRASE || ! -v GPG_PRIVATE_KEY_BASE64 ]]; then exit 0; fi
          export GNUPGHOMEDIR=gnupg/
          mkdir --parent "${GNUPGHOMEDIR}"
          echo "${GPG_PRIVATE_KEY_PASSPHRASE}" | gpg --batch --pinentry-mode loopback --passphrase-fd 0 --quiet --import <(echo "${GPG_PRIVATE_KEY_BASE64}")
          echo "${GPG_PRIVATE_KEY_PASSPHRASE}" | gpg --batch --pinentry-mode loopback --passphrase-fd 0 --quiet --detach-sign --armor "$SBOM_FILENAME"
          rm -rf "${GNUPGHOMEDIR}"
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: inputs.upload-artifact
        with:
          name: "${{ inputs.filename }}"
          path: |
            ${{ inputs.filename }}
            ${{ inputs.filename }}.asc
          overwrite: true
      - name: Upload binaries to release
        if: inputs.upload-release-assets && startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@81c65b7cd4de9b2570615ce3aad67a41de5b1a13 # v2
        with:
          repo_token: ${{ github.token }}
          file_glob: true
          file: "${{ inputs.filename }}?(.asc)"
          tag: ${{ github.ref }}
          overwrite: true
